# Build results
bin/
obj/

# Rider / VS Code / Visual Studio
.vs/
.idea/
.vscode/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs / Temp
*.log
*.tlog
*.tmp
*.temp
logs/

# NuGet packages
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Publish / Deploy
*.Publish.xml
*.pubxml
*.publishproj
PublishProfiles/
project.lock.json

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Azure / IIS
Generated\ Files/
app.publish/
*.azurePubxml
*.publishsettings

# Entity Framework
Migrations/

# Configuration / Secrets
appsettings.Development.json
appsettings.*.json
secrets.json

# Other
wwwroot/lib/
node_modules/
